mixin tab(textContent, label, isSelected=false, classes)
  button(
    role="tab"
    aria-label=`Show ${label} tab`
    aria-control=`tab-${label}`
    aria-selected=String(isSelected)
    class=`tab ${classes}`
  )=textContent

mixin tabList(labels, type="", tabClasses="")
  nav(role="tablist" class="tablist")
    each label, i in labels
      - const isSelected = i === 0;
      case type
        when "link"
          +tab(label, label, isSelected, tabClasses)
        when "num"
          +tab(i, label, isSelected, tabClasses)
        default 
          +tab("", label, isSelected, tabClasses)
