- const toCamelCase = (str) => str.toLowerCase().replaceAll(" ", "-");

//- Tab Picture
mixin tabPic(images, isHidden=true, label="")
  - const names = Object.keys(images);
  - const sources = Object.values(images);

  picture(class="tabpic" data-panel=toCamelCase(label) hidden=isHidden)
    if names[0] === "portrait"
      source(srcset=images.landscape, media="(max-width: 991px)")
      source(srcset=images.portrait, media="(min-width: 992px)")
      img(src=images.landscape, alt=label)
    else
      source(srcset=images.webp, type=`image/webp`)
      source(srcset=images.png, type=`image/png`)
      img(src=images.png, alt=label)

//- Tab
mixin tab(textContent, name, isSelected=false)
  button(
    role="tab"
    aria-label=`Show ${name} tab`
    aria-controls=`tab-${toCamelCase(name)}`
    aria-selected=String(isSelected)
    class="tab"
    data-tab=toCamelCase(name)
  )=textContent

//- Tab Panel
mixin tabPanel(name, isHidden=true)
  - const snakeCaseName = toCamelCase(name);
  div(
    role="tabpanel"
    id=`tab-${snakeCaseName}`
    class="tabpanel"
    data-panel=snakeCaseName
    hidden=isHidden
  )
    block
