mixin link(pageName, item)
  - const href = `${item === 'home' ? "index" : item}.html`;
  if pageName === item
    a(aria-current="page" class="link" href=href)
      block
  else
    a(class="link" href=href)
      block

mixin nav(pageName)
  - const imagesPath ="assets/images/";

  nav.space-between-flex
    a.logo(href="index.html" aria-label='To home page')
      img(aria-hidden="true" src=`${imagesPath}logo.svg`, alt="")

    .line(aria-hidden="true")

    button.links-toggler(aria-label="Open menu" aria-controls="links" onclick="navToggler(event)")
      img(aria-hidden="true" src=`${imagesPath}nav/icon-hamburger.svg`, alt="")

    ul#links.links.center-flex
      each item, i in ["home", "destination", "crew", "technology"]
        li
          +link(pageName, item)
            span(aria-hidden='true' class="num") 0#{i + " "}
            span=item