mixin nav(pageName)
  - const imagesPath ="assets/images/";
  - const fileName = pageName === 'home' ? "index" : pageName;

  nav.space-between-flex
    a.logo(href="/dist/index.html" aria-label='Space Tourism logo')
      img(src=`${imagesPath}logo.svg`, alt="")

    .line

    button.links-toggler(aria-label="Open menu" onclick="navToggler(event)")
      img(src=`${imagesPath}nav/icon-hamburger.svg`, alt="")

    ul.links.center-flex
      each item, i in ["home", "destination", "crew", "technology"]
        li
          a(class=`${pageName === item ? 'active' : ''}` href=`${item === 'home' ? "index" : item}.html`)
            span(aria-hidden='true') 0#{i + " "}
            =item