mixin link(i, item)
  if i === 0
    a(aria-current="page" class="link" href="" data-route=item)
      block
  else
    a(class="link" href="" data-route=item)
      block

mixin nav
  - const imagesPath ="assets/images/";

  nav.space-between-flex
    a.logo(href="" data-route="home" aria-label='To home page')
      img(aria-hidden="true" src=`${imagesPath}logo.svg`, alt="")

    .line(aria-hidden="true")

    button.links-toggler(aria-label="Open menu" aria-controls="links" onclick="navToggler(event)")
      img(aria-hidden="true" src=`${imagesPath}nav/icon-hamburger.svg`, alt="")

    ul#links.links.center-flex
      each item, i in ["home", "destination", "crew", "technology"]
        li
          +link(i, item)
            span(aria-hidden='true' class="num") 0#{i + " "}
            span=item